## App Enviroments
APP_PORT=

## Database Enviroments
DATABASE_URL=""

## JWT enviroments
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRE_TIME=""
JWT_REFRESH_EXPIRE_TIME=""

## Decorator keys
ROLES_DECORATOR_KEY=""